# Groq Reasoning Engine (Llama 3.3)
GROQ_API_KEY = ""
GROQ_FALLBACK_API_KEY = ""

# Portkey LLM Gateway
PORTKEY_API_KEY = ""

# Qdrant Vector DB Settings 
QDRANT_API_KEY =""
QDRANT_CLUSTER_ENDPOINT = ""

# === Observability

# Pydantic Logfire Observability
LOGFIRE_TOKEN =  ""

# LANGSMITH 

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT=""


BACKEND_URL = ""


JUDGE_GROQ = ""

GEMINI_API_KEY = ""
